<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InPageToAutographa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <InPageToAutographa.Properties.Settings>
            <setting name="CheckboxCorrectYearSignChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckboxCorrectHehHamzaChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckboxCorrectWawHamzaChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckboxCorrectBariYeeChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckboxRemoveDoubleSpaceChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckboxRemoveKashidaChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckboxRemoveErabsChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckboxReverseNumbersDigitsChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckboxReverseSolidusSignChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckboxReverseThousSeparatorChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckboxReverseQuotMarksChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckboxChangePChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckboxChangeCCChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckboxAdditionalBaariYieChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckboxAdditionalKashidaChecked" serializeAs="String">
                <value>True</value>
            </setting>
        </InPageToAutographa.Properties.Settings>
    </userSettings>
</configuration>